!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MaterialGarage
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      %header.header
        .logo
          =link_to 'MaterialGarage', '/'
        .serchBox
          %label{name:"title", placeholder:"検索"}
          %input{name:"title", placeholder:"検索"}
        .nemu
          -if user_signed_in?
            .nemu__action
              =link_to 'アイテム追加', new_item_path
            .nemu__action ユーザー情報
            .nemu__action
              =link_to 'ログアウト', destroy_user_session_path, method: :delete
      = yield
      %footer.footer
        © 2018 Material Garage ALL RIGHTS RESERVED.
