!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MaterialGarage
    = csrf_meta_tags
    = csp_meta_tag
    %meta{ name: 'viewport', content: "width=device-width, initial-scale=1,user-scalable=no" }

    %link{ rel: "stylesheet", href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .preload_image
    .modalWindow
      .mobileMenu
        %label{name:"title"}
        %input{name:"title", placeholder:"検索", class: "searchInputSide"}
        =link_to 'アイテム追加', new_item_path
        =link_to 'ユーザー情報', edit_user_registration_path
        =button_to 'ログアウト', destroy_user_session_path, method: :delete
    .wrapper
      .mainImageWrapper
        %header.header
          .logo
            =link_to 'Material Garage', '/'
          .serchBox
            %label{name:"title"}
            %input{name:"title", placeholder:"検索", class: "searchInput"}
          .nemu
            -if user_signed_in?
              .nemu__humburgerMenu
                = link_to "#" do
                  %i.fa.fa-bars
              .nemu__action
                =link_to 'アイテム追加', new_item_path
              .nemu__action
                =link_to 'ユーザー情報', edit_user_registration_path
              .nemu__action
                =link_to 'ログアウト', destroy_user_session_path, method: :delete
        = yield
        %footer.footer
          ="© 2018 - #{Time.now.year} Material Garage ALL RIGHTS RESERVED."
